.message{
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
}
.spins{
    margin-bottom: 10px;
    animation: spin 1s ease infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}